:root {
    --white: #f3f4f6;
    --dark-blue: #2e4a66;
    --grey: #a5aaad;
}

main {
    background: var(--white);
    grid-area: main;
    overflow-y: auto;
}

.main-container {
    padding: 20px 35px
}

.main-title {
    display: flex;
    align-items: center;
}

.main-title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main-greetings > h1 {
    font-size: 24px;
    color: var(--dark-blue);
    margin-bottom: 5px;
}

.main-greetings > p {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background-color: #FFF;

    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.card-inner > p {
    margin-bottom: 16px;
}

.card-inner-h1 {
    font-size: 32px;
    color: var(--blue);
}


.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.charts-left {
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.charts-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts-title > div > h1 {
    font-size: 25px;
    color: var(--dark-blue);
    margin-bottom: 5px;
}



.charts-right {
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
}


.charts-bottom {
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #FFF;
    width: 200%;
}



@media only screen and (max-width: 855px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }

    .charts-right-cards {
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 30px;
    }
}